{% extends 'app_movie/base.html' %}
<body>
    {% block body %}
    <div class="container" style="text-align: center;">
        <h1>Profile of <b>{{ profile.user.username }}</b></h1>
        <br>
        <h4>User Name: <b>{{ profile.user.username }}</b></h4>
        <br>
        <h4>Profile Photo</h4>
        <img src="{{ profile.image.url }}" alt="profile image" height="300px" width="280px" style="border: 3px solid gray; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    </div>
    {% endblock %}
</body>